@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    Layout = "_Layout_dos_columnas";
}
<div class="contenedor-leyenda-buscador"><p class="leyenda-buscador">Busqueda de lotes</p></div>
<div class="contenedor-buscador">
  <p class="leyenda-input-buscador">Buscar Lote</p>
  <input class="input-buscador" onkeyup="busqueda_online(this)" />
</div>
<div class="tabla-lote">
    <div class="fila-lote fila-primero">
        <!--<div class="cabeza-lote lote-primero">Lote</div>-->
        <div class="cabeza-lote">Fecha Fabricacion</div>
        <div class="cabeza-lote">Fecha Caducidad</div>
        <div class="cabeza-lote">Nombre Completo</div>
        <div class="cabeza-lote">Informacion</div>
        <div class="cabeza-lote">Cantidad</div>
    </div>
    <div class="contenedor-filas-lote"></div>
</div
>