@{
    ViewData["Title"] = "Home Page";
}
<style>
    .container {
        height: 70%;
    }
    .Bienvenida {
        margin-top: 0%;
        margin-left: 10%;
        width: 80%;
    }

    h2 {
        margin-top: 5%;
        margin-left: 0%;
        width: 100%;
        text-align: center;
        border-bottom: 1px solid cornflowerblue;
    }

    .boton-opciones
    {
        margin-top: 0%;
        margin-left: 0%;
        width: 100%;
        height: 100%;
    }
</style>

<script type="text/javascript">
    

</script>

    <div class="contenedor-columnas">
        <div class="Bienvenida"><h2>Bienvenido al Sistema de registro y consulta de productos</h2></div>
        <table class="tabla-economica">
            <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            </tr>
            <tr class="tabla-economica-row">
                <td class="contenedor-opciones"><div class="opciones uno" type="button" onclick="esconder_especificos(1)">Registrar</div></td>
                <td class="contenedor-opciones"><div class="opciones uno" type="button" onclick="esconder_pequeno(1,2)">Nuevo</div></td>
                <td class="contenedor-opciones"><div class="opciones uno"><a class="boton-opciones" type="button" asp-action="Nuevo" asp-controller="Producto">Ir</a></div></td>
            </tr>
            <tr class="tabla-economica-row">
                <td class="contenedor-opciones"><div class="opciones"></div></td>
                <td class="contenedor-opciones"><div class="opciones uno" type="button" onclick="esconder_pequeno(1,4)">Modificar</div></td>
                <td class="contenedor-opciones"><div class="opciones uno"><a class="boton-opciones" type="button" asp-action="Nuevo" asp-controller="Producto">Ir</a></div></td>
            </tr>
            <tr class="tabla-economica-row">
                <td class="contenedor-opciones"><div class="opciones dos" type="button" onclick="esconder_especificos(2)">Verificar</div></td>
                <td class="contenedor-opciones"><div class="opciones dos" type="button" onclick="esconder_pequeno(2,2)">Inventario</div></td>
                <td class="contenedor-opciones"><div class="opciones dos"><a class="boton-opciones" type="button" asp-action="Ver" asp-controller="Producto">Ir</a></div></td>
            </tr>
            <tr class="tabla-economica-row">
                <td class="contenedor-opciones"><div class="opciones"></div></td>
                <td class="contenedor-opciones"><div class="opciones dos" type="button" onclick="esconder_pequeno(2,4)">Cantidad Cero</div></td>
                <td class="contenedor-opciones"><div class="opciones dos"><a class="boton-opciones" type="button" asp-action="Nuevo" asp-controller="Producto">Ir</a></div></td>
            </tr>
        </table>
    </div>
    